.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto-fill, 1fr));
  gap: var(--space-xs);
  margin-block: var(--space-xs);
}

@media (min-width: 420px) {
  .list {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
