.link a {
  transition-duration: 300ms;
  font-weight: 700;
  display: flex;
  width: fit-content;
  column-gap: 0.3em;
  align-items: center;
  position: relative;
  padding: var(--space-xs) 0 var(--space-xs) 33px;
  transition: all 0.3s;
}

.link a span {
  position: relative;
  padding: calc(var(--display) * 0.05);
  z-index: 1;
  color: var(--white);
  background: var(--black);
  transition: all 0.3s;
}

.link a::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(var(--display) * 0.05);
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  border: 2px solid var(--accent);
  border-radius: 50%;
  transition: all 0.3s;
}

.link a svg {
  transition: all 0.3s;
}

/* ホバー */
@media (hover: hover) {
  .link a:hover {
    color: var(--accent);
  }

  .link a:hover span {
    color: var(--accent);
  }

  .link a:hover::after {
    width: 55px;
    height: 55px;
    left: calc(var(--display) * 0.1);
    border: 2px solid var(--white);
  }

  .link a:hover svg {
    color: var(--accent);
  }
}

@media (hover: none) {
  .link a {
    -webkit-tap-highlight-color: transparent;
  }

  .link a:active {
    color: var(--accent);
  }
}
