.flexContainer {
  composes: sideBySideCenter from '@/styles/utils.module.css';
}

.text {
  padding-top: calc(var(--display) * 0.5);
  padding-bottom: calc(var(--display) * 0.4);
}

.normalTitle {
  font-size: var(--display);
  font-weight: 900;
  letter-spacing: 0.05em;
  color: var(--sub);
}

.smallFont {
  font-size: var(--heading1);
}

.subtitleCenter {
  font-size: var(--small-heading3);
  text-align: center;
}

.subtitle {
  font-size: var(--small-heading2);
  color: var(--white);
}

/* image */
.image {
  width: 100%;
}

@media (min-width: 768px) {
  .image {
    width: 50%;
  }
}

.glitchTitle {
  font-size: var(--display);
  font-weight: 900;
  letter-spacing: 0.05em;
  color: var(--sub);
  position: relative;
  width: fit-content;
  margin-inline: auto;
}

.glitchTitle:after {
  content: attr(data-text);
  color: var(--sub);
  background-color: var(--black);
  position: absolute;
  left: 2px;
  top: 0;
  overflow: hidden;
  animation: noise-anim 10s infinite linear alternate-reverse;
}

.glitchTitle:before {
  content: attr(data-text);
  color: var(--sub);
  background-color: var(--black);
  position: absolute;
  top: 0;
  left: -2px;
  overflow: hidden;
  animation: noise-anim-2 8s infinite linear alternate-reverse;
}

@keyframes noise-anim {
  0% {
    clip: rect(95px, 9999px, 27px, 0);
  }
  5% {
    clip: rect(24px, 9999px, 89px, 0);
  }
  10% {
    clip: rect(96px, 9999px, 46px, 0);
  }
  15% {
    clip: rect(26px, 9999px, 19px, 0);
  }
  20% {
    clip: rect(82px, 9999px, 22px, 0);
  }
  25% {
    clip: rect(97px, 9999px, 59px, 0);
  }
  30% {
    clip: rect(74px, 9999px, 88px, 0);
  }
  35% {
    clip: rect(59px, 9999px, 91px, 0);
  }
  40% {
    clip: rect(72px, 9999px, 45px, 0);
  }
  45% {
    clip: rect(62px, 9999px, 89px, 0);
  }
  50% {
    clip: rect(43px, 9999px, 81px, 0);
  }
  55% {
    clip: rect(75px, 9999px, 34px, 0);
  }
  60% {
    clip: rect(88px, 9999px, 8px, 0);
  }
  65% {
    clip: rect(53px, 9999px, 64px, 0);
  }
  70% {
    clip: rect(73px, 9999px, 29px, 0);
  }
  75% {
    clip: rect(4px, 9999px, 14px, 0);
  }
  80% {
    clip: rect(81px, 9999px, 29px, 0);
  }
  85% {
    clip: rect(32px, 9999px, 36px, 0);
  }
  90% {
    clip: rect(50px, 9999px, 58px, 0);
  }
  95% {
    clip: rect(32px, 9999px, 95px, 0);
  }
  100% {
    clip: rect(64px, 9999px, 29px, 0);
  }
}
@keyframes noise-anim-2 {
  0% {
    clip: rect(72px, 9999px, 44px, 0);
  }
  5% {
    clip: rect(65px, 9999px, 54px, 0);
  }
  10% {
    clip: rect(99px, 9999px, 9px, 0);
  }
  15% {
    clip: rect(90px, 9999px, 86px, 0);
  }
  20% {
    clip: rect(59px, 9999px, 33px, 0);
  }
  25% {
    clip: rect(23px, 9999px, 59px, 0);
  }
  30% {
    clip: rect(30px, 9999px, 11px, 0);
  }
  35% {
    clip: rect(11px, 9999px, 17px, 0);
  }
  40% {
    clip: rect(34px, 9999px, 92px, 0);
  }
  45% {
    clip: rect(19px, 9999px, 35px, 0);
  }
  50% {
    clip: rect(65px, 9999px, 83px, 0);
  }
  55% {
    clip: rect(99px, 9999px, 41px, 0);
  }
  60% {
    clip: rect(58px, 9999px, 9px, 0);
  }
  65% {
    clip: rect(50px, 9999px, 8px, 0);
  }
  70% {
    clip: rect(93px, 9999px, 26px, 0);
  }
  75% {
    clip: rect(31px, 9999px, 10px, 0);
  }
  80% {
    clip: rect(88px, 9999px, 17px, 0);
  }
  85% {
    clip: rect(95px, 9999px, 36px, 0);
  }
  90% {
    clip: rect(66px, 9999px, 38px, 0);
  }
  95% {
    clip: rect(45px, 9999px, 6px, 0);
  }
  100% {
    clip: rect(55px, 9999px, 76px, 0);
  }
}
