.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: var(--space-jump);
  margin-top: var(--space-xs);
  margin-bottom: var(--space-lg);
}

@media (min-width: 768px) {
  .gridContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

.post h2 {
  margin-top: 0.5em;
  font-size: var(--small-heading3);
  font-weight: 400;
}

.post figure {
  position: relative;
  aspect-ratio: 16/9;
  border: 1px solid var(--white);
}

.post p {
  margin-top: 0.5em;
  font-weight: 400;
}

.post a {
  display: block;
  position: relative;
}

.post a figure {
  transition-duration: 0.3s;
}

/* ホバー */
@media (hover: hover) {
  .post a:hover figure {
    filter: brightness(1.5);
  }
}

@media (hover: none) {
  .post a:active figure {
    filter: brightness(1);
  }
}
