.wrapper {
  margin-top: var(--space-md);
  padding: var(--space-sm) 0;
  background-color: var(--gray-25);
}

.flexContainer {
  composes: sideBySideCenter from '../../styles/utils.module.css';
  gap: var(--space-xs);
}
