.flexContainer {
  composes: sideBySideCenter from 'styles/utils.module.css';
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.links {
  padding: calc(var(--display) * 0.5) 0;
  gap: 3rem;
  composes: sideBySideCenter from 'styles/utils.module.css';
}

.links a {
  transition-duration: 300ms;
  font-weight: 700;
  display: flex;
  column-gap: 0.3em;
  align-items: center;
  position: relative;
  padding: var(--space-xs) 0 var(--space-xs) 33px;
  transition: all 0.3s;
}

.links a span {
  position: relative;
  padding: calc(var(--display) * 0.05);
  z-index: 1;
  color: var(--white);
  background: var(--black);
  transition: all 0.3s;
}

.links a::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(var(--display) * 0.05);
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  border: 2px solid var(--accent);
  border-radius: 50%;
  transition: all 0.3s;
}

.links a svg {
  transition: all 0.3s;
}

/* ホバー */
@media (hover: hover) {
  .links a:hover {
    color: var(--accent);
  }

  .links a:hover span {
    color: var(--accent);
  }

  .links a:hover::after {
    width: 55px;
    height: 55px;
    left: calc(var(--display) * 0.1);
    border: 2px solid var(--white);
  }

  .links a:hover svg {
    color: var(--accent);
  }
}

@media (hover: none) {
  .links a {
    -webkit-tap-highlight-color: transparent;
  }

  .links a:active {
    color: var(--accent);
  }
}
